# Project exclude paths
/.gradle/
/Problems/Check the given numbers are different/out/
/Problems/Check the given numbers are different/out/production/classes/
/Problems/Check the value/out/
/Problems/Check the value/out/production/classes/
/Problems/Chocolate/out/
/Problems/Chocolate/out/production/classes/
/Problems/Exactly one parameter is positive/out/
/Problems/Exactly one parameter is positive/out/production/classes/
/Problems/First digit/out/
/Problems/First digit/out/production/classes/
/Problems/Leap year/out/
/Problems/Leap year/out/production/classes/